.fixed-panel {
    min-height: 100px;
    max-height: 10rem;
    overflow-y: scroll;
}

span.red-box {
    border: 1px dotted red;
}

span.blue-box {
    border: 1px dotted blue;
}

span.green-box {
    border: 1px dotted green;
}
